<a href="https://colab.research.google.com/github/Henrique2SP/Kaggle/blob/main/logistic-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
train['Parents'] = train['SibSp'] + train['Parch']
test['Parents'] = test['SibSp'] + test['Parch']

In [ ]:
def transformarSexo(sexo):
  if sexo == 'Male':
    return 0
  else:
      return 1

def transformarEmbarque(embarque):
  if embarque == 'C':
    return 0
  elif embarque == 'S':
    return 1
  else:
    return 2

def transformarParents(valor):
  if valor == 0:
    return 0
  else:
    return 1

In [ ]:
train['Sex_num'] = train['Sex'].map(transformarSexo)
test['Sex_num'] = test['Sex'].map(transformarSexo)

train['Embarked_num'] = train['Embarked'].map(transformarEmbarque)
test['Embarked_num'] = test['Embarked'].map(transformarEmbarque)

train['Parents_num'] = train['Parents'].map(transformarParents)
test['Parents_num'] = test['Parents'].map(transformarParents)

In [ ]:
train.isna().sum()

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age             177
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin           687
Embarked          2
Parents           0
Sex_num           0
Embarked_num      0
Parents_num       0
dtype: int64

In [ ]:
train = train.fillna(-1)
test = test.fillna(-1)

In [ ]:
#posso alterar a entrada por aqui
entrada = ['Sex_num', 'Age', 'Parents_num', 'Pclass']

In [ ]:
x = train[entrada]
y = train['Survived']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

In [ ]:
# Função sigmoide
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

# Função de custo
def compute_cost(X, y, weights):
    m = len(y)
    h = sigmoid(np.dot(X, weights))
    cost = -(1/m) * (np.dot(y, np.log(h)) + np.dot((1-y), np.log(1-h)))
    return cost

# Gradiente descendente
def gradient_descent(X, y, weights, learning_rate, iterations):
    m = len(y)
    cost_history = []

    for _ in range(iterations):
        # Previsões
        h = sigmoid(np.dot(X, weights))
        # Atualizar pesos
        gradient = (1/m) * np.dot(X.T, (h - y))
        weights -= learning_rate * gradient
        # Armazenar custo
        cost = compute_cost(X, y, weights)
        cost_history.append(cost)

    return weights, cost_history

In [ ]:
# Inicializar os pesos
weights = np.zeros(x.shape[1])

# Hiperparâmetros
learning_rate = 0.01
iterations = 10000

# Treinar o modelo
weights, cost_history = gradient_descent(x, y, weights, learning_rate, iterations)
print("Pesos finais:", weights)

Pesos finais: [ 1.20210643 -0.01008381  0.79702558 -0.79598017]

In [ ]:
# Função de previsão
def predict(X, weights):
    probabilities = sigmoid(np.dot(X, weights))
    return [1 if prob >= 0.5 else 0 for prob in probabilities]

# Prever nos dados de teste
y_pred = predict(x, weights)

# Acurácia
accuracy = np.mean(y_pred == y)
print(f"Acurácia do modelo: {accuracy:f}")

Acurácia do modelo: 0.712682

In [ ]:
pred = predict(test[entrada], weights)

In [ ]:
sub = pd.Series(pred, index=test['PassengerId'], name='Survived')
sub.shape

(418,)

In [ ]:
sub.to_csv("treino1.csv", header=True)

NameError: name 'sub' is not defined